.container {
    width: 700px;
    height: 755px;
    margin: auto;
    font-family: 'Lexend Deca', sans-serif;
}

.forgot {
    width: 100%;
    height: 100%;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 42px;
}

.forgot__logo {
    width: 123px;
}

.forgot__image {
    height: 220px;
}

.forgot__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.forgot__content-title {
    font-size: 36px;
    font-weight: 500;
    text-transform: capitalize;
    color: #112446;
}

.forgot__content-text {
    font-size: 16px;
    font-weight: 400;
    color: #7D7E83;
    line-height: 160%;
    text-align: center;
}

.forgot__btn {
    height: 64px;
    width: 275px;
    padding: 18px 60px;
    background-color: #267EEC;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 500;
    line-height: 140%;
    color: #fff;
}

.forgot__btn:hover {
    background-color: #0E73ED;
}

.forgot__footer {
    color: #7D7E83;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
}

@media only screen and (max-width: 768px) {
    .container {
        width: 100%;
        height: 100%;
    }

    .forgot {
        padding: 0;
        padding-top: 10px;
    }

    .forgot__content-title {
        font-size: 28px;
    }

    .forgot__btn {
        font-size: 18px;
    }
}