.oder {
    width: 960px;
    margin: auto;
    font-family: 'Lexend Deca', sans-serif;
}

.oder__top {
    height: 315px;
    padding: 40px 60px 64px 60px;
    background-color: #267EEC;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 54px;
}

.oder__top-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.oder__top-head-logo-img {
    height: 48px;
}

.oder__top-head-address {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}

.oder__top-head-address-top {
    color: rgba(255, 255, 255, 0.70);
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
}

.oder__top-head-address-bot {
    color: #FFF;
    text-align: right;
    font-size: 18px;
    line-height: 160%;
}

.oder__top-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.oder__top-content-title {
    color: #FFF;
    font-size: 42px;
    font-weight: 500;
    line-height: 120%;
    text-transform: capitalize;
}

.oder__top-content-number {
    color: rgba(255, 255, 255, 0.70);
    font-size: 20px;
    font-weight: 400;
    line-height: 160%;
}

.oder__mid {
    position: absolute;
    top: 234px;
    z-index: -1;
}

.oder__bot {
    padding: 70px 60px 82px 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 42px;
}

.oder__bot-info {
    display: flex;
    justify-content: space-between;
}

.oder__bot-info-payment {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
}

.oder__bot-info-payment-title {
    color: #636D81;
    font-size: 18px;
}

.oder__bot-info-payment-time {
    color: #112446;
    font-size: 18px;
}

.oder__bot-info-package {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
}

.oder__bot-info-package-title {
    color: #636D81;
    font-size: 18px;
    text-align: right;
}

.oder__bot-info-package-popular {
    color: #112446;
    font-size: 18px;
    text-align: right;
}

.oder__bot-body {
    display: flex;
    flex-direction: column;
    gap: 36px;
    justify-content: space-between;
}

.oder__bot-body-caculate,
.oder__bot-body-total {
    padding: 36px;
    background-color: #F7F9FB;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 48px;
}

.oder__bot-body-caculate-item,
.oder__bot-body-total-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.oder__bot-body-caculate-item-title,
.oder__bot-body-total-item-title {
    font-size: 20px;
    line-height: 120%;
    color: #112446;
}

.oder__bot-body-caculate-item-price,
.oder__bot-body-total-item-price {
    font-size: 20px;
    line-height: 120%;
}

.oder__bot-body-caculate-line,
.oder__bot-body-total-line {
    width: 100%;
    height: 1px;
    border-top: 1px dashed rgba(0, 0, 0, .15);
}

.oder__bot-btn {
    display: flex;
    justify-content: center;
}

.oder__bot-btn>button {
    background-color: #267EEC;
    width: 310px;
    height: 64px;
    border-radius: 8px;
    padding: 10px 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.oder__bot-btn>button:hover {
    background-color: #0E73ED;
}

.oder__bot-btn-text {
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
}

@media only screen and (max-width: 960px) {
    .oder {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .oder__top {
        padding: 40px 10px 20px 10px;
    }

    .oder__top-head {
        flex-direction: column;
        gap: 6px;
    }

    .oder__top-head-address {
        align-items: center;
        gap: 0;
    }

    .oder__top-head-logo {
        text-align: center;
    }

    .oder__top-content {
        gap: 0;
    }

    .oder__top-content-title {
        font-size: 32px;
        text-align: center;
    }

    .oder__top-content-number {
        font-size: 18px;
    }

    .oder__bot-info-payment > div {
        font-size: 16px;
    }

    .oder__bot-info-package > div {
        font-size: 16px;
    }

    .oder__bot-body-caculate-item > span {
        font-size: 18px;
    }

    .oder__bot-body-total-item > span {
        font-size: 18px;
    }
}